<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/category/index.css">
	<link rel="stylesheet" href="stylesheets/navs/nav.css">
	
	<title>Categorias</title>
</head>
<body>
	<%- include('../navs/nav.ejs') %>
	<div class="box">
		<div>
			<h1>Categorias:</h1>	
		</div>
		<hr>
		<!-- BOTON PARA AGREGAR NUEVO -->
		<div class="add">
			<button class="btnSecondary"><i class="fi fi-br-search"></i></button>
			<button class="btnPrimary marginLeft" id="addBtn"><i class="fi fi-br-plus"></i></button>	
		</div>
		<div class="tableSecondary marginTop">
			<table>
				<thead>
					<tr>
						<th width="30%">Nombre</th>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody>
					<% if (data.length != 0) { %>
						<% for (let i = 0; i < data.length; i++) { %>
							<tr>
								<td><%= data[i].name %></td>
								<td>
									<%= data[i].description %>
									<!-- BOTONES DE ACCION -->
									<div class="trActions">
										<button class="btnAlert" id="deleteBtn" dataId="<%= data[i].id %>" dataName="<%= data[i].name %>"><i class="fi fi-sr-trash"></i></button>
										<button class="btnPrimary"><i class="fi fi-sr-pencil"></i></button>
									</div>
								</td>
							</tr>
						<% } %>
					<% } else { %>
						<tr>
							<td>No hay datos</td>
						</tr>
					<% } %>
				</tbody>
			</table>	
		</div>
	</div>
	
	<!-- MODAL PARA AÑADIR -->

	<div class="modalAdd shadow" id="addBox" style="display: <%= addVisible %>;">
		<div>
			<h2>Agregar nueva categoria:</h2>	
		</div>
		<form method="post" action="/category">
			<div>
				<input type="text" id="name" name="name" placeholder="Nombre" class="textForegroundAlphaPrimary" value="<%= values[0] %>">
			</div>
			<div class="marginVertical">
				<textarea name="description" id="description" cols="40" rows="10" placeholder="Descripción" class="textForegroundAlphaPrimary"><%= values[1] %></textarea>
			</div>
			<div class="buttons">
				<span class="btnAlert marginRight" id="cancelAdd">Cancelar</span>
				<input type="submit" value="Guardar" class="btnSecondary">
			</div>
		</form>
		<% if(errors.length != 0){ %>
			<div class="errorBox">
				<% for (let i = 0; i < errors.length; i++) { %>
					<span class="alert"><%= errors[i] %></span>
				<% } %>
			</div>
		<% } %>
	</div>

	<!-- MODAL PARA ELIMINACION -->

	<div class="modalDelete shadow" id="deleteModal">
		<div>
			<span>¿Estas seguro que deseas eliminar <b id="deleteNameModal">Categoria</b>?</span>
		</div>
		<form class="marginTop" method="post">
			<span class="btnSecondary" id="cancelDelete">No</span>
			<input class="btnAlert" type="submit" value="Si">
		</form>
	</div>

	<script>

		//MUESTRA DE MODAL PARA AGREGAR
		const addBtn = document.getElementById("addBtn")
		const addBox = document.getElementById("addBox")

		addBtn.addEventListener("click",function(){
			addBox.style.display = "flex"
		})

		document.getElementById("cancelAdd").addEventListener("click",function(){
			addBox.style.display = "none"
		})

		//MUESTRA DE MODAL PARA ELIMINAR MAS OBTENCION DE LOS DATOS Y CAMBIO DE ACTION
		const deleteButtons = document.querySelectorAll('#deleteBtn')
		deleteButtons.forEach(btn => {
			btn.addEventListener("click",function(){
				const modal = document.querySelector("#deleteModal")
				const form = modal.querySelector('form')

				const id = btn.getAttribute("dataId")
				const name = btn.getAttribute("dataName")
				
				addBox.style.display = "none"		
				form.action = "/category/delete/" + id
				document.getElementById("deleteNameModal").innerHTML = name
				modal.style.display = "flex"
			})
		})

		document.querySelector('#cancelDelete').addEventListener("click",function(){
			document.querySelector('#deleteModal').style.display = "none"
		})
	</script>
</body>
</html>