<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/isoGradient.png" type="image/x-icon">
	<link rel="stylesheet" href="/stylesheets/template.css">
	<link rel="stylesheet" href="/stylesheets/navs/nav.css">
	
	<title>Categorias</title>
</head>
<body>
	<%- include('../navs/nav.ejs') %>
	<div class="box">
		<div>
			<h1>Categorias:</h1>	
		</div>
		<hr>
		<div>
			<div class="tableSecondary marginTop">
				<table>
					<thead>
						<tr>
							<th width="30%">Nombre</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<% if (data.length != 0) { %>
							<% for (let i = 0; i < data.length; i++) { %>
								<tr id="row" dataId="<%= data[i].id %>" dataName="<%= data[i].name %>" dataDescription="<%= data[i].description %>">
									<td><%= data[i].name %></td>
									<td><%= data[i].description %></td>
								</tr>
							<% } %>
						<% } else { %>
							<tr>
								<td>-</td>
								<td>-</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="toolTable marginTop">
				<a href="category/trash" class="btnAlert"><i class="fi fi-sr-trash"></i></a>
			</div>	
		</div>
	</div>

	<!-- MODAL PARA AÑADIR Y EDITAR-->

	<div class="modalAdd shadow" id="addModal" style="display: <%= addVisible %>;">
		<div>
			<h2><%= titleModalAdd %></h2>	
		</div>
		<form method="post">
			<div>
				<input type="text" id="name" name="name" placeholder="Nombre" class="textForegroundAlphaPrimary" value="<%= values[0] %>">
			</div>
			<div class="marginVertical">
				<textarea name="description" id="description" cols="40" rows="10" placeholder="Descripción" class="textForegroundAlphaPrimary"><%= values[1] %></textarea>
			</div>
			<div class="buttons">
				<input type="submit" class="btnSecondary" value="<%= titleBtnSubmit %>">
				<span class="btnAlert marginLeft" id="cancelAdd">Cancelar</span>
			</div>
		</form>
		<% if(errors.length != 0){ %>
			<div class="errorBox">
				<% for (let i = 0; i < errors.length; i++) { %>
					<span class="alert"><%= errors[i] %></span>
				<% } %>
			</div>
		<% } %>
	</div>

	<!-- MODAL PARA ELIMINACION -->

	<div class="modalDelete shadow" id="deleteModal">
		<div>
			<span>¿Estas seguro que deseas eliminar <b id="deleteNameModal">Categoria</b>?</span>
			<br>
			<span class="alertText"><i class="fi fi-br-exclamation"></i> Al eliminar la categoria ya no podras ver sus transacciones a menos que la recuperes</span>
		</div>
		<form class="marginTop" method="post">
			<span class="btnSecondary" id="cancelDelete">No</span>
			<input class="btnAlert" type="submit" value="Si">
		</form>
	</div>

	<div id="actions" class="actions">
		<button id="addBtn" class="btnRoundedPrimary"><i class="fi fi-br-plus"></i></button>
		<button id="editBtn" class="btnRoundedSecondary"><i class="fi fi-sr-pencil"></i></button>
		<button id="deleteBtn" class="btnRoundedAlert"><i class="fi fi-br-cross"></i></button>
	</div>

	<script src="/javascripts/category/index.js"></script>		
</body>
</html>