<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/category/index.css">
	<link rel="stylesheet" href="stylesheets/navs/nav.css">
	
	<title>Categorias</title>
</head>
<body>
	<%- include('../navs/nav.ejs') %>
	<div class="box">
		<div>
			<h1>Categorias:</h1>	
		</div>
		<hr>
		<div class="add">
			<button class="btnSecondary"><i class="fi fi-br-search"></i></button>
			<button class="btnPrimary marginLeft" id="addBtn"><i class="fi fi-br-plus"></i></button>	
		</div>
		<div class="tableSecondary marginTop">
			<table>
				<thead>
					<tr>
						<th width="30%">Nombre</th>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody>
					<% if (data.length != 0) { %>
						<% for (let i = 0; i < data.length; i++) { %>
							<tr>
								<td><%= data[i].name %></td>
								<td>
									<%= data[i].description %>
									<div class="trActions">
										<button href="" class="btnAlert"><i class="fi fi-sr-trash"></i></button>
										<button href="" class="btnPrimary"><i class="fi fi-sr-pencil"></i></button>
									</div>
								</td>
							</tr>
						<% } -%>
					<% } else { %>
						<tr>
							<td>No hay datos</td>
						</tr>
					<% } %>
				</tbody>
			</table>	
		</div>
	</div>
	
	<div class="modalAdd shadow" id="addBox" style="display: <%= addVisible %>;">
		<div>
			<h2>Agregar nueva categoria:</h2>	
		</div>
		<form method="post" action="/category">
			<div>
				<input type="text" id="name" name="name" placeholder="Nombre" class="textForegroundAlphaPrimary" value="<%= values[0] %>">
			</div>
			<div class="marginVertical">
				<textarea name="description" id="description" cols="40" rows="10" placeholder="Descripción" class="textForegroundAlphaPrimary"><%= values[1] %></textarea>
			</div>
			<div class="buttons">
				<span class="btnAlert marginRight" id="cancelAdd">Cancelar</span>
				<input type="submit" value="Guardar" class="btnSecondary">
			</div>
		</form>
		<% if(errors.length != 0){ %>
			<div class="errorBox">
				<% for (let i = 0; i < errors.length; i++) { %>
					<span class="alert"><%= errors[i] %></span>
				<% } %>
			</div>
		<% } %>
	</div>

	<script>
		const addBtn = document.getElementById("addBtn")
		const addBox = document.getElementById("addBox")

		addBtn.addEventListener("click",function(){
			addBox.style.display = "flex"
		})

		document.getElementById("cancelAdd").addEventListener("click",function(){
			addBox.style.display = "none"
		})
	</script>
</body>
</html>