<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/isoGradient.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/navs/nav.css">
    <link rel="stylesheet" href="/stylesheets/template.css">

    <title>Papelera</title>
</head>
<body>
    <%- include('../navs/nav.ejs') %>

    <div class="box">
		<% if (data.length != 0) { %>
			<div>
				<h1>Categorias eliminadas:</h1>	
			</div>
			<div class="tableSecondary">
				<table>
					<thead>
						<tr>
							<th width="30%">Nombre</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<% for( let i = 0; i < data.length; i++ ) { %>
							<tr id="row" dataId="<%= data[i].id %>" dataName="<%= data[i].name %>">
								<td><%= data[i].name %></td>
								<td><%= data[i].description %></td>
							</tr>
						<% } %>
					</tbody>
				</table>	
			</div>
		<% } else { %>
			<div>
				<h1>No hay categorias eliminadas</h1>
			</div>
		<% } %>
	</div>

    <div class="modalDelete shadow" id="modalRecovery">
		<div>
			<span>¿Deseas recuperar <b id="recoveryName">Categoria</b>?</span>
		</div>
		<form class="marginTop" method="post">
			<span class="btnSecondary" id="cancelRecovery">No</span>
			<input class="btnAlert" type="submit" value="Si">
		</form>
	</div>

    <script src="/javascripts/trash.js"></script>
</body>
</html>