<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user/signUp.css">

    <title>Registrarse</title>
</head>
<body>
    <% if(classEmail == "default"){ %>
        <% classEmail = "textForegroundAlphaSecondary" %>
    <% } if(placeholderEmail == "default"){%>
        <% placeholderEmail = "Correo electrónico" %>
    <% } if(classPassword == "default"){ %>
        <% classPassword = "textForegroundAlphaSecondary" %>
    <% } if(placeholderPassword == "default"){%>
        <% placeholderPassword = "Contraseña" %>
    <% } if(classConfirmPassword == "default"){ %>
        <% classConfirmPassword = "textForegroundAlphaSecondary" %>
    <% } if(placeholderConfirmPassword == "default"){%>
        <% placeholderConfirmPassword = "Confirma tu contraseña" %>
    <% } %>
    
    <div class="page shadow">
        <div class="loginBox">
            <div><h2>¡Bienvenido!</h2></div>
            <div>
                <img src="/images/isoLight.png" width="64px" alt="Capytall logo">
                <p>¿Ya tienes una cuenta? Mantente conectado con nosotros</p>
            </div>
            <div class="marginBottom">
                <a href="signIn"><button class="btnPrimary">Iniciar sesión</button></a>
            </div>
        </div>

        <form class="signUpBox" method="post" action="/user/signUp">
            <div><h1>Registrarse</h1></div>
            <div class="marginBottom">
                <label for="name"><i class="fi fi-ss-user"></i></label>
                <input type="text" class="textForegroundAlphaSecondary" name="name" id="name" placeholder="Nombre" required>
            </div>
            <div class="marginVertical">
                <label for="lastname"><i class="fi fi-ss-user"></i></label>
                <input type="text" class="textForegroundAlphaSecondary" name="lastname" id="lastname" placeholder="Apellido(s)" required>
            </div>
            <div class="marginVertical">
                <label for="email"><i class="fi fi-ss-envelope"></i></label>
                <input type="email" class="<%= classEmail %>" name="email" id="email" placeholder="<%= placeholderEmail %>" required>
            </div>
            <div class="marginVertical">
                <label for="password"><i class="fi fi-ss-lock"></i></label>
                <input type="password" class="<%= classPassword %>" name="password" id="password" placeholder="<%= placeholderPassword %>" required>
            </div>
            <div class="marginVertical">
                <label for="confirmPassword"><i class="fi fi-ss-arrows-repeat"></i></label>
                <input type="password" class="<%= classConfirmPassword %>" name="confirmPassword" id="confirmPassword" placeholder="<%= placeholderConfirmPassword %>" required>
            </div>
            <div class="marginVertical">
                <input type="submit" class="btnSecondary" value="Crear cuenta">
            </div>
        </form>
    </div>
</body>
</html>