<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user/validation.css">

    <title>Verificación</title>
</head>
<body>
    <div class="box">
        <div class="validationBox shadow">
            <div class="hello">
                <h1>¡Hola <%= data.name %> <%= data.lastname %>!</h1>
            </div>
            <div class="code">
                <p>Te hemos enviado un correo a <span><%= data.email %></span> con un codigo de verificación.</p>
                <p>Porfavor ingresalo a continuación:</p>
                <form method="post" action="/user/register/<%= data.name %>,<%= data.lastname %>,<%= data.email %>,<%= data.password %>,<%= code %>">
                    <input class="textForegroundAlphaSecondary marginBottom" type="text" name="code" id="code" placeholder="XXXXXX">
                    <br>
                    <input class="btnPrimary marginTop" type="submit" value="Verificar">
                </form>
            </div>
        </div>
    </div>
</body>
</html>