<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/isoGradient.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/navs/nav.css">
    <link rel="stylesheet" href="/stylesheets/search.css">

    <title>Buscador general</title>
</head>
<body>
    <%- include('../navs/nav.ejs') %>
    
    <div class="box">
        <% if(data.length > 0){ %>
            <div class="search">
                <span class="textForegroundAlphaPrimary">Buscar:</span>
                <input id="searchText" class="textForegroundAlphaPrimary" type="text" placeholder="Escribe lo que deseas buscar">
            </div>
            <div>
                <div class="tableSecondary">
                    <table>
                        <thead>
                            <tr>
                                <th width="10%">Fecha</th>
                                <th width="10%">Folio</th>
                                <th>Concepto</th>
                                <th width="15%">Categoria</th>
                                <th width="10%">Tipo</th>
                                <th width="10%"><i class="fi fi-br-dollar"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < data.length; i++ ) { %>
                                <tr>
                                    <td><%= data[i].date %></td>
                                    <td><%= data[i].folio %></td>
                                    <td><%= data[i].concept %></td>
                                    <td><%= data[i].category %></td>
                                    <td><% if (data[i].type == 0) { %>
                                            <%= "Ingreso" %>
                                        <% } else { %>
                                            <%= "Retiro" %>
                                        <% } %>
                                    </td>
                                    <td>$<%= data[i].mount %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } else { %>
            <div>
                <h1>No hay registros guardados</h1>
            </div>
        <% } %>
    </div>

    <script src="javascripts/search.js"></script>
</body>
</html>