<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/isoGradient.png" type="image/x-icon">
	<link rel="stylesheet" href="stylesheets/navs/nav.css">
	<link rel="stylesheet" href="stylesheets/home.css">

	<title>Menu principal</title>
</head>
<body>
	<%- include('../navs/nav.ejs') %>
	<div class="box">
		<!-- ESTADISTICAS --> 
		<div class="statistics">
			<div class="shadow">
				<span><%= statisticsData[0].incomeCount %></span>
				<span>Ingresos registrados</span>
			</div>
			<div class="shadow">
				<span><%= statisticsData[0].withdrawalCount %></span>
				<span>Retiros registrados</span>
			</div>
			<div class="shadow">
				<span>$<%= statisticsData[0].generalTotal %></span>
				<span>Total de dinero manejado</span>
			</div>
		</div>
		<!-- TABLAS --> 
		<div class="tables marginTop">
			<div id="table">
				<div class="tableSecondary marginTop">
					<table>
						<thead>
							<tr class="titleTable">
								<th colspan="3">Ultimos ingresos</th>
							</tr>
							<tr>
								<th width="15%">Folio</th>
								<th>Concepto</th>
								<th width="15%"><i class="fi fi-br-dollar"></i></th>
							</tr>
						</thead>
						<tbody>
							<% for( let i = 0; i < transactionData.length; i++ ) { %>
								<% if (transactionData[i].type == 0) { %>
									<tr mount>
										<td><%= transactionData[i].folio %></td>
										<td><%= transactionData[i].concept %></td>
										<td id="mount">$<%= transactionData[i].mount %></td>
									</tr>
								<% } %>
							<% } %>
						</tbody>
					</table>
				</div>
				<div class="totals">
					<a href="" class="btnPrimary">Ver todos</a>
					<div class="total marginLeft">
						<span id="total">Total: $999999</span>
					</div>
				</div>
			</div>
			<div id="table">
				<div class="tableSecondary marginTop">
					<table>
						<thead>
							<tr class="titleTable">
								<th colspan="4">Ultimos retiros</th>
							</tr>
							<tr>
								<th width="15%">Folio</th>
								<th>Concepto</th>
								<th width="15%"><i class="fi fi-br-dollar"></i></th>
							</tr>
						</thead>
						<tbody>
							<% for( let i = 0; i < transactionData.length; i++ ) { %>
								<% if (transactionData[i].type == 1) { %>
									<tr>
										<td><%= transactionData[i].folio %></td>
										<td><%= transactionData[i].concept %></td>
										<td id="mount">$<%= transactionData[i].mount %></td>
									</tr>
								<% } %>
							<% } %>
						</tbody>
					</table>
				</div>
				<div class="totals">
					<a href="" class="btnPrimary">Ver todos</a>
					<div class="total marginLeft">
						<span id="total">Total: $99999999</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="javascripts/home.js"></script>
</body>
</html>